{% load static %}
{% include 'header3.html' %}
{% block content %}

<div class="container pt-5 team mb-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Members</h4>
        <h4 class="display-4 font-weight-bold">Reserved Equipments</h4>
    </div>
    <div class="row justify-content-center">
        {% for i in result %}
        <div class="card ml-3 mb-3" style="width: 18rem; background-color: rgb(228, 220, 217); border: 2px solid red; border-radius: 5px;">
            <div class="card-body">
              <h4 class="card-title">Member id: {{i.userid}}</h4>
              <h4 class="card-title">{{i.eqnames}}</h4>
              <p class="card-text font-weight-bold">{{i.classtime}}</p>
              <a  href="{% url 'admineqbookdelete' id=i.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color: red;">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg></a>
            </div>
          </div>
   {% endfor %}
  </div>
</div>

{% endblock %}
{% include 'footer.html' %}
