{% load static %}
{% include 'header3.html' %}

<div class="container pt-5 team">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Welcome</h4>
        <h4 class="display-4 font-weight-bold">{{result.username}}'s Profile</h4>
    </div>
    <div class="row justify-content-center">
  <div class="col-lg-3 col-md-6 mb-5" >
    <div class="card border-0 bg-secondary text-center text-white">
        <img class="card-img-top" src="../media/{{result.userphoto}}" alt="error"  style="height: 300px;">
        <div class="card-social d-flex align-items-center justify-content-center">
            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="{% url 'userproupdate' id=result.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="color: rgb(0, 174, 255);">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg></a>
        </div>
        <div class="card-body bg-secondary">
            <h4 class="card-title text-primary">{{result.username}}</h4>
            <p class="card-text">{{result.useremail}}</p>
            <p class="designation">{{result.userpass}}</p>
        </div>
    </div>
</div>
</div>
</div>


  {% include 'footer.html' %}
