{% load static %}
{% include 'header3.html' %}
{% block content %}
<br><br><br>
<div class="container py-5 mb-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="Image">
        </div>
        <div class="col-lg-6">
            <h2 class="display-4 font-weight-bold mb-4">Hi, {{result.username}}</h2>
            <p>Labore vero lorem eos sed aliquy ipsum aliquy sed. Vero dolore dolore takima ipsum lorem rebum</p>
            <div class="row py-2">
                <div class="col-sm-6">
                    <i class="flaticon-barbell display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Certified GYM Center</h4>
                    <p>Ipsum sanctu dolor ipsum dolore sit et kasd duo</p>
                </div>
                <div class="col-sm-6">
                    <i class="flaticon-medal display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Award Winning</h4>
                    <p>Ipsum sanctu dolor ipsum dolore sit et kasd duo</p>
                </div>
            </div>
            <a href="userenrollclass" class="btn btn-lg px-4 btn-outline-primary">Book now</a>
        </div>
    </div>
</div>

{% endblock %}
{% include 'footer.html' %}
    