{% load static %}
{% include 'header3.html' %}


<div class="container-xl py-5">
    <div class="container">
        <div class="row g-5">
            <h1 class="m-0 display-4 font-weight-bold text-uppercase text-black"> GYM Equipments</h1>
          
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Equipment</th>
        <th scope="col">Photo</th>

      </tr>
    </thead>
    <tbody>
        {% for i in result %}
        <tr>
          <td>{{i.id}}</th>
          <td>{{i.eqname}}</td>
          <td><img src="../media/{{i.eqphoto}}" alt="" style="width: 70px;height: 70px;" class="rounded-circle img-fluid"></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

</div>
</div>
</div>  

{% include 'footer.html' %}